body {
  background-image: url("https://assets.pokemon.com/static2/_ui/img/og-default-image.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

#mainTitle {
  color: gold;
}

#indexPage,
#pokeList,
#teamList {
  margin: 20px;
}

sup {
  font-size: 8px;
}
h5 {
  font-size: 10px;
}