body {
  background-image: url("https://assets.pokemon.com/static2/_ui/img/og-default-image.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

#mainTitle {
  color: gold;
}

#indexPage,
#pokeList,
#teamList {
  margin: 20px;
}

sup {
  font-size: 8px;
}
#disclosure {
  font-size: 10px;
}

.box_container{
  display: flex;
  justify-content: center;
  height: 300px;
  width: 30%;
  margin: 10px;
  border-width: 10px;
    border-style: solid;
    border-color: #33AFFF;
    padding: 10px;
    background-color: lightcoral;
}