body {
  background-image: url("./images/pokeball3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
 
}

#mainTitle {
  color: gold;
}

#indexPage,
#pokeList,
#teamList {
  margin: 20px;
}


#teamList_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

sup {
  font-size: 8px;
}
#disclosure {
  font-size: 10px;
}

.box_container{
  display: flex;
  align-items: center;
  flex-direction: column;
width: auto;
  margin: 10px;
  border-width: 10px;
    border-style: solid;
    border-color: #33AFFF;
    padding: 10px;
    background-color: lightcoral;
}

#main_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
}

#audio {
  color: white;
}